body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-container {
    background-color: lightblue;
    display: flex;
}